
/** page structure **/
============================================================
 /* Posicion Wiget Chatear TIDIO*/  
        #tidio-chat-iframe { bottom: 55px !important; }
        @media only screen and (max-width: 980px) {
        #tidio-chat-iframe { bottom: 55px !important;}
         }
=============================================================
#content_menu{
	margin:0px auto;
	text-align: center;
	padding-left: 80px;
}
#imglogo{
    position:relative;
    margin-top: -20px;
    margin-left: -15px !important;
    width: 100%;
}


  #icom-nosotros { 
        content: url('../images/Nosotros.png');
		display: block;
	    top: 15px;
        position:relative;
        margin-bottom: -65px;
        width: 10%;
		right: -240px;	
		padding: 0px;
	}
  #icom-Plato_Destacado { 
        content: url('../images/Plato_Destacado.png');
		display: block;
	    top: 15px;
        position:relative;
        margin-bottom: -70px;
        width: 10%;
		right: -240px;	
		padding: 0px;
	}
  
* {
    margin: auto;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -box-sizing:border-box;
  }

  /**--------Imagenes NOSOTROS --------**/
  
  .#icom-nosotros{
    transition: transform .2s; 
	border-radius: 0.5px;
    transition: all 1.2s ease-out;
    background-repeat: no-repeat;
}
 #icom-nosotros{
	transition-duration: 25.s;
	transform: scale(1.2); 
	}

.#image01{
    transition: transform .2s; 
	border-radius: 0.5px;
    transition: all 1.2s ease-out;
    background-repeat: no-repeat;
}
 #image01:hover{
	transition-duration: 25.s;
	transform: scale(1.2); 
	}
.#image02{
    transition: transform .2s; 
	border-radius: 0.5px;
    transition: all 1.2s ease-out;
    background-repeat: no-repeat;
}
 #image02:hover{
	transition-duration: 25.s;
	transform: scale(1.2); 
	}
.#image03{
    transition: transform .2s; 
	border-radius: 0.5px;
    transition: all 1.2s ease-out;
    background-repeat: no-repeat;
}
 #image03:hover{
	transition-duration: 25.s;
	transform: scale(1.2); 
	}
.#image04{
    transition: transform .2s; 
	border-radius: 0.5px;
    transition: all 1.2s ease-out;
    background-repeat: no-repeat;
}
 #image04:hover{
	transition-duration: 25.s;
	transform: scale(1.2); 
	}
.#image05{
    transition: transform .2s; 
	border-radius: 0.5px;
    transition: all 1.2s ease-out;
    background-repeat: no-repeat;
}
 #image05:hover{
	transition-duration: 25.s;
	transform: scale(1.2); 
	}


#w {
  display: block;
  max-width: 1100px;
  min-width: 280px;
  /*padding-top: 20px;*/
  margin-left: 400px;
  margin-top: -120px;
}

 /*padding-top: 20px;*/ 
 
 #titulodesayuno {
	position: absolute;
    display: block;
    width: 400px;
    height: auto;
    margin-left: -20px;
    margin-top: 20px;	
    text-align: center;
}
#titulodeEspecial {
	position: absolute;
    display: block;
    width: 400px;
    height: auto;
    margin-left: -20px;
    margin-top: 20px;	
    text-align: center;
}
#titulodeBebidas {
	position: absolute;
    display: block;
    width: 400px;
    height: auto;
    margin-left: -20px;
    margin-top: 20px;	
    text-align: center;
}
#titulodeCena {
	position: absolute;
    display: block;
    width: 400px;
    height: auto;
    margin-left: -20px;
    margin-top: 20px;	
    text-align: center;
}
#titulodePostre {
	position: absolute;
    display: block;
    width: 400px;
    height: auto;
    margin-left: -20px;
    margin-top: 20px;	
    text-align: center;
}
#reservation {
	display: block;
	position: relative;
	margin-left: 0px;
    margin-top: 445px;	
	margin-bottom: 35px;
 }

 #content_contacto{
	display: block;
	position: relative;
	margin-left: 8px;
    margin-top: 50px;
	padding : 30px;
 }
#content_vistazo {
	display: block;
	position: relative;
	margin-left: 8px;
    margin-top: 450px;	
 }
#content_panaderia {
	display: block;
	position: relative;
	margin-left: 8px;
    margin-top: 350px;
	
 }

 #seguir {
	display: block;
	position: floa-left;
	margin-left: 8px;
    margin-top: 350px;
 }
  
 #formulario_reserva{
	display: block;
	position: relative;
	margin-left: 8px;
    margin-top: 350px;
	padding : 85px;
 }
#menu {
	display: block;
	position: relative;
	margin-left: 8px;
    margin-top: 50px;
 }
 #menu_contacto {
	display: block;
	position: relative;
	margin-left: 560px;
    margin-top: 10px;
	padding : 0px;
 }
  #mapa_contact {
	display: block;
	position: relative;
	margin-left: 8px;
    margin-top: 50px;
	padding : 20px;
 }
#content_contact{
	display: block;
	position: relative;
	margin-left: 8px;
    margin-top: 350px;
 }
  #content_plato{
    display: block;
	position: relative;
	margin-left: 8px;
    margin-top: 10px;
	padding : 43px;
 }
 #content_pan{
    display: block;
	position: relative;
	margin-left: 8px;
    margin-top: 3px;
	padding : 4px;
 }
#texto {
  display: block;
  position: absolute;
  max-width: 460px;
  min-width: 400px;
  width: 460px;
  height: 450px;
  margin-left: 0px;
  margin-top: 20px;
  font-family: "museo-sans", helvetica, sans-serif;
  text-align: justify;
  font-size: 18px;
  line-height: 35px;
  font-color: #2f2e2f;
    margin: -40px;
    padding: 5px;
}

#textoEspecial {
  display: block;
  position: absolute;
  max-width: 460px;
  min-width: 400px;
  width: 460px;
  height: 400px;
  margin-left: 0px;
  margin-bottom: 20px;
  font-family: "museo-sans", helvetica, sans-serif;
  text-align: justify;
  font-size: 18px;
  line-height: 35px;
  font-color: #2f2e2f;
    margin: -40px;
    padding: 5px;
}

#textoBebidas {
  display: block;
  position: absolute;
  max-width: 460px;
  min-width: 400px;
  width: 460px;
  height: 400px;
  margin-left: 0px;
  margin-top: 1px;
  font-family: "museo-sans", helvetica, sans-serif;
  text-align: justify;
  font-size: 18px;
  line-height: 35px;
  font-color: #2f2e2f;
    margin: -40px;
    padding: 5px;
}

#textoCena {
  display: block;
  position: absolute;
  max-width: 460px;
  min-width: 400px;
  width: 460px;
  height: 400px;
  margin-left: 0px;
  margin-top: 20px;
  font-family: "museo-sans", helvetica, sans-serif;
  text-align: justify;
  font-size: 18px;
  line-height: 35px;
  font-color: #2f2e2f;
    margin: -40px;
    padding: 5px;
}

#textoPostre {
  display: block;
  position: absolute;
  max-width: 460px;
  min-width: 400px;
  width: 460px;
  height: 400px;
  margin-left: 0px;
  margin-top: 20px;
  font-family: "museo-sans", helvetica, sans-serif;
  text-align: justify;
  font-size: 18px;
  line-height: 35px;
  font-color: #2f2e2f;
    margin: -40px;
    padding: 5px;
		
}
#container {
  display: block;
  position: absolute;
  max-width: 460px;
  min-width: 400px;
  width: 460px;
  height: 400px;
  margin-left: 0px;
  margin-top: 20px;
  font-family: "museo-sans", helvetica, sans-serif;
  text-align: justify;
  font-size: 18px;
  line-height: 35px;
  font-color: #2f2e2f;
    margin: -40px;
    padding: 5px;
}	
 
 /* UnderLine Nombres Personas TESTIMONIOS */

#espacios strong{   
    text-decoration: underline;
}	
	
	
	
/* portfolio filters list */

#filter-list {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
}

#filter-list li {
	font-weight: bold;
	color:black !important;
    display: inline-block;
    width: auto;
    padding: 6px 10px;
	margin-right: 15px;
	font-size: 18px;
	cursor: pointer;
	/*-webkit-border-radius: 3px;
	-moz-border-radius: 3px;*/
	/*border-radius: 3px;*/
	border-bottom: 1px solid rgba(255, 255, 255, 0);
}
#filter-list li:hover {
	color: #00b4ee !important;
}
#filter-list li.active {
	font-weight: bold;
	/*background: #D4CECC;*/   /* #1e1e1e  #269dda  #7ebe0c #f8da01 #ef7f00 #d61c00  #d93b8d  Colores   $$$$$$$ LOGO $$$$$*/
	border-color: #00b4ee; 
}
#filter-list li.active:hover {
	border-color: #f58220;
}

/** portfolio list **/

#portfolio {
	position: relative;
	display: block;
    width: 100%;
    padding: 0 2px;
    margin-bottom: 0;
	text-align: left;
	margin-top: 30px;
	margin-left: 0px;
}

#portfolio .item {
	display: none;
	opacity: 0;
	width: 30%;
	vertical-align: top;
	margin-bottom: 70px;
	margin-right: 20px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	width: 207px;
	-moz-box-sizing: border-box;
}

#portfolio .item h2 {
    font-size: 18px;
    padding: 10px;
}
#portfolio .item1 {
	display: none;
	opacity: 0;
	vertical-align: top;
	margin-bottom: 25px;
	margin-right: 20px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	-moz-box-sizing: border-box;
}

#portfolio .item a {
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
  background: #fff;

}
#portfolio .item img {
  max-width: 100%;
}

@media (min-width: 991px) {
	#portfolio .item:nth-child(5),
	#portfolio .item:nth-child(6),
	#portfolio .item:nth-child(7),
	#portfolio .item:nth-child(8) {
		margin-bottom: 0;
	}
/*---------------------------------------------*/	
	
#w-pan {
  display: block;
  max-width: 1100px;
  min-width: 280px;
  
  /*padding-top: 20px;*/
  margin-left: 400px;
  margin-top: -60px;
}	

#w-p {
  display: block;
  max-width: 1100px;
  min-width: 280px;
  
  /*padding-top: 20px;*/
  margin-left: 400px;
  margin-top: -60px;
}

#espacios {
	display: block;
	position: absolute;
	margin-left: 8px;
    margin-top: 50px;	
 }
/** portfolio list **/

#portfolio-panaderia {
	position: relative;
	display: block;
    width: 100%;
    padding: 0 12px;
    margin-bottom: 0;
	text-align: center;
	margin-top: 30px;
	margin-left: 10px;
}

#portfolio-Panadería .item {
	float:right;
	display: block;
	opacity: 20; /*   0  */
	width: 30%;
	vertical-align: top;
	margin-top: 30px;
	margin-bottom: 25px;
	margin-right: 20px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	width: 207px;
	-moz-box-sizing: border-box;
}

#portfolio-Panadería .item h2 {
    font-size: 18px;
    padding: 10px;
}
#portfolio-Panadería .item1 {
	display: none;
	opacity: 0;
	vertical-align: top;
	margin-bottom: 25px;
	margin-right: 20px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	-moz-box-sizing: border-box;
}

#portfolio-Panadería .item a {
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
  background: #fff;

}
#portfolio-Panadería .item img {
  max-width: 100%;
}

/*-----------------------------------------*/

#espacio {
	
	display: none;
}
#pan {
	
	display: none;
}
#pastel {
	
	display: none;
}
#galleta {
	
	display: none;
}
#fritos {
	
	display: none;
}
#vacios {
	
	display: none;
}

/*------------ Bakery texts and prices ---------------*/
#textoPanadería {
  display: none;
  position: absolute;
  max-width: 460px;
  min-width: 400px;
  width: 460px;
  height: 400px;
  margin-left: 0px;
  margin-top: 20px;
  font-family: "museo-sans", helvetica, sans-serif;
  text-align: justify;
  font-size: 18px;
  line-height: 35px;
  font-color: #2f2e2f;
    margin: -40px;
    padding: 10px;
}

#titulopanaderia {
	position: absolute;
    display: none;
    width: 400px;
    height: auto;
    margin-left: -20px;
    margin-top: 30px;	
    text-align: center;
}
#textoPastelería {
  display: none;
  position: absolute;
  max-width: 460px;
  min-width: 400px;
  width: 460px;
  height: 400px;
  margin-left: 0px;
  margin-top: 20px;
  font-family: "museo-sans", helvetica, sans-serif;
  text-align: justify;
  font-size: 18px;
  line-height: 35px;
  font-color: #2f2e2f;
    margin: -40px;
    padding: 10px;
}

#titulopasteleria {
	position: absolute;
    display: none;
    width: 400px;
    height: auto;
    margin-left: -20px;
    margin-top: 30px;	
    text-align: center;
}
#textoGalletería {
  display: none;
  position: absolute;
  max-width: 460px;
  min-width: 400px;
  width: 460px;
  height: 400px;
  margin-left: 0px;
  margin-top: 20px;
  font-family: "museo-sans", helvetica, sans-serif;
  text-align: justify;
  font-size: 18px;
  line-height: 35px;
  font-color: #2f2e2f;
    margin: -40px;
    padding: 10px;
}

#titulogalleteria {
	position: absolute;
    display: none;
    width: 400px;
    height: auto;
    margin-left: -20px;
    margin-top: 30px;	
    text-align: center;
}
#textoFrituras {
  display: none;
  position: absolute;
  max-width: 460px;
  min-width: 400px;
  width: 460px;
  height: 400px;
  margin-left: 0px;
  margin-top: 20px;
  font-family: "museo-sans", helvetica, sans-serif;
  text-align: justify;
  font-size: 18px;
  line-height: 35px;
  font-color: #2f2e2f;
    margin: -40px;
    padding: 10px;
}

#titulofrituras {
	position: absolute;
    display: none;
    width: 400px;
    height: auto;
    margin-left: -20px;
    margin-top: 30px;	
    text-align: center;
}



